<form novalidate #form="ngForm" (submit)= "onSubmit(form)">
    <input type="hidden" name="id" [value]="service.formData.id" />
    <div class="form-group">
        <label>Szukaj książki</label>
        <input class="form-control form-control-lg" placeholder="Tytuł" name="title" #title="ngModel"
            [(ngModel)]=service.formData.title>
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit">Szukaj</button>
    </div>
    <input type="hidden" name="count" [value]="service.formData.count" />
</form>  