<div class="small-component">
  <div class="row justify-content-center align-middle">
    <div class="card mt-5 mb-2 " style="width: 25rem">
      <ul class="list-group">
        <li class="list-group-item"><strong>Nazwa Użytkownika : </strong>{{this.userDetails.userName}}</li>
        <li class="list-group-item"><strong>Pełna nazwa : </strong>{{this.userDetails.fullName}}</li>
        <li class="list-group-item"><strong>Email : </strong>{{this.userDetails.email}}</li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center align-middle mt-2">
    <div class="col-md-12 text-center gap-3">

      <div class="row mt-2 mb-2">
        <div class="col-md-6">
          <button class="btn btn-lg btn-dark btn-block" (click)="open()">Edytuj szczegóły konta</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-lg btn-dark btn-block" *ngIf="this.isAdmin || this.isBibliotekarz"
            (click)="reservedBorrowings()">Podgląd oczekujących
            rezerwacji</button>
          <button class="btn btn-lg btn-dark btn-block" *ngIf="this.isUser" (click)="yourBorrowings()">Podgląd twoich
            wypożyczeń</button>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col-md-6">
          <button class="btn btn-lg btn-dark btn-block" *ngIf="this.isAdmin" (click)="editFooter()">Edytuj
            stopkę</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-lg btn-dark btn-block" *ngIf="this.isAdmin || this.isBibliotekarz"
            (click)="ongoingBorrowings()">Podgląd obecnych
            wypożyczeń</button>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col-md-6">
          <button class="btn btn-lg btn-dark btn-block" (click)="addAcount()">Dodaj nowe konto</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-lg btn-dark btn-block" *ngIf="this.isAdmin || this.isBibliotekarz"
            (click)="historyBorrowings()">Podgląd historii
            wypożyczeń</button>
        </div>
      </div>
    </div>
  </div>
</div>