<div class="modal-header">
    <h4 class="modal-title">Podgląd historii wypożyczeń</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        <table  style="width: 100%;" class="">
            <tr>
                <th style="font-weight: bold;">Tytuł książki</th>
                <th style="font-weight: bold;">Status</th>
                <th style="font-weight: bold;">Nazwa Użytkownika</th>
                <th style="font-weight: bold;">Data wypożyczenia</th>
                <th style="font-weight: bold;">Termin oddania</th>
                <th style="font-weight: bold;">Data zakończenia</th>
            </tr>
            <tr *ngFor="let borrow of borrowingList">
                <th>{{borrow.bookName}}</th>
                <th>{{borrow.status}}</th>
                <th>{{borrow.userName}}</th>
                <th>{{borrow.checkInDate}}</th>
                <th>{{borrow.checkoutDate}}</th>
                <th>{{borrow.finishDate}}</th>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="activeModal.close()">Zamknij</button>
</div>