<div class="modal-header">
    <h4 class="modal-title">Edycja stopki strony</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card m-5" style="width: 40rem" *ngIf="FooterDetails">
        <ul class="list-group">
            <li class="list-group-item"><strong>Imię : </strong><input style="width: 100%;"
                    [(ngModel)]="formData.firstName" value={{formData.firstName}}></li>
            <li class="list-group-item"><strong>Nazwisko : </strong><input style="width: 100%;"
                    [(ngModel)]="formData.lastName" value={{formData.lastName}}></li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Zamknij</button>
    <button type="button" class="btn btn-outline-dark" (click)="save()">Zapisz</button>
</div>