<div class="modal-header">
    <h4 class="modal-title">Edycja danych czytelnika</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card m-5" style="width: 20rem" *ngIf="readerDetail">
      <ul class="list-group">
        <li class="list-group-item"><strong> Pełna nazwa czytelnika: : </strong><input style="width: 100%;"
            [(ngModel)]="readerFullName" value={{readerFullName}}></li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Zamknij</button>
    <button type="button" class="btn btn-outline-dark" (click)="changeReaderData()">Zapisz</button>
  </div>
