<div class="jumbtron py-3">
    <h1 class="display-4 text-center">
        Jakiej ksiązki szukasz?
    </h1>
</div>

<app-books-list-form></app-books-list-form>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Tytuł książki</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of service.list">
            <td><h5>{{b.title}}</h5></td>
            <td><button class="btn btn-block" type="submit" (click)="bookDetails(b.id)">Szczegóły</button></td>
        </tr>
    </tbody>
</table>