<div class="small-component">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="jumbtron py-3">
            <h1 class="display-4 text-center">
                Szczegóły bibliotekarza
            </h1>
        </div>
        <div class="card mt-3 " style=" width: 30rem">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Id bibliotekarza:</b> {{librarianId}}</li>
                <li class="list-group-item"><b>Email bibliotekarza:</b> {{userEmail}}</li>
                <li class="list-group-item"><b>Nazwa konta bibliotekarza:</b> {{userName}}</li>
                <li class="list-group-item"><b>Pełna nazwa bibliotekarza:</b> {{userFullName}}</li>
                <li class="list-group-item text-center">
                    <button (click)=editLibrarian() class="btn btn-primary">Edytuj bibliotekarza</button>
                </li>
            </ul>
        </div>
    </div>
</div>
