<div class="modal-header">
    <h4 class="modal-title">Dodawanie Książki</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card m-5" style="width: 40rem">
        <ul class="list-group">
            <li class="list-group-item"><strong>Tytuł : </strong><input style="width: 100%;" type="string"
                    [(ngModel)]="BookDetails.title" value={{BookDetails.title}}></li>
            <li class="list-group-item"><strong>Ilość : </strong><input style="width: 100%;" type="number"
                    [(ngModel)]="BookDetails.count" value={{BookDetails.count}}></li>
            <!-- <li class="list-group-item"><strong>Autor : </strong><ng-select
                [items]="AuthorList" [clearable]="false"
                ></ng-select></li> -->
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Zamknij</button>
    <button type="button" class="btn btn-outline-dark" (click)="save()">Zapisz</button>
</div>