<div class="user-profile d-flex flex-column justify-content-center align-items-center">
    <div class="jumbtron py-3">
        <h1 class="display-4 text-center">
            Szczegóły książki
        </h1>
    </div>
    <div class="card mt-3 " style=" width: 20rem">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Tytuł książki:</b> {{cardData.id}}</li>
            <li class="list-group-item"><b>Autor książki:</b> {{cardData.title}} </li>
            <li class="list-group-item"><b>Liczba dostępnych egzemplarzy:</b> {{cardData.count}} </li>
            <li class="list-group-item text-center"><button (click)=reserveBook() class="btn btn-primary">Zarezerwuj książkę</button> </li>
        </ul>
    </div>
</div>