<p>book-details works!</p>
<div class="card mt-3" style=" width: 18rem">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Tytuł książki:</b> {{cardData.Id}}</li>
        <li class="list-group-item"><b>Autor książki:</b>{{cardData.Title}} </li>
        <li class="list-group-item"><b>Liczba dostępnych egzemplarzy:</b>{{cardData.Title}} </li>
    </ul>
    <!-- <div class="card-body text-center">
        <class="btn btn-primary> Zarezerwuj książkę </class>"
    </div> -->
</div>